<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Jupitor Cloud Test">
 
  <listeners>
        <listener class-name="com.jupiter2.cloud.planittesting.listeners.Listeners"/>
 </listeners>

  <test thread-count="5" name="Jupitor2 cloud testing">
    <classes>
      	<class name="com.jupiter2.cloud.planittesting.testcases.TC1_ContactPageErrorTest"/>
      	<class name="com.jupiter2.cloud.planittesting.testcases.TC2_ContactPageSubmitTest"/>
		<class name="com.jupiter2.cloud.planittesting.testcases.TC3_CartPageItemsTest"/>
		<class name="com.jupiter2.cloud.planittesting.testcases.TC4_CartPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
